@{
    /*
     * bloco C# colocar o codigo que quiser aqui, somente tomar cuidado com estrutura (( ter bom senso )).
     */

    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
<h3>@ViewData["Message"]</h3>
<h3>@ViewData["email"]</h3>


<p>Use this page to detail your site's privacy policy.</p>